.card{
    padding: 20px;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 35px;
    border-radius: 25px;
    background: #ffffff;
}

.front-face-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    .front-face-card-content{
        min-height: 375px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        font-weight: bold;
        h2{
            margin: 2px 0px;
        }
    }
}

.back-face-card{
    .back-face-card-content{
        overflow: auto;
        height: 360px;
        padding: 5px;
        margin-top: -20px;
        letter-spacing: 0.3px;
        font-size: 18px;
    }
    h1{
        margin-top: 0px;
    }
}

.more{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    font-weight: 100;
    letter-spacing: 0.5px;
    cursor: pointer;
    img{
        width: 20px;
        margin-left: 15px;
    }
}

a{
    color: #1089ff;
    text-decoration: none;
}

a:visited{
    color: blueviolet;
}

hr{
    color: #e5e5e5;
    width: 50%;
    margin-top: 22px;
}

ul li{
    list-style: disclosure-closed;
    margin: 6px 0px;
}

@media only screen and (max-width: 1021px) {
    .card{
        flex-wrap: wrap;
    }
  }