.header-card{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-image: url("/design.png");
    background-repeat: no-repeat;
    background-color: white;
    background-attachment: fixed;
    transition: 2.25s ease-in-out;
}
.mj-avatar{
    display: block;
    border-radius: 50%;
    background: #e5e5e5;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.2);
    height: 150px;
    width: 150px;  
    background-image: url(https://cdn.iconscout.com/icon/free/png-512/avatar-380-456332.png);              
    background-size: contain;
}

.social-links{
    display: flex;
    flex-direction: row;
    width: 350px;
    margin: 50px 0px;
    justify-content: space-evenly;
    background-color: rgba(255,255,255,0.7);
    padding: 5px;
    width: 400px;
    border-radius: 5px;
}

.gh-logo, .email-logo, .dev-logo, .rbgem-logo, .in-logo, .cv-logo{
    background-size: 40px;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    border-radius: 10%;
    background-position: center;
    background-color: transparent;
}

.gh-logo{
    background-image: url(https://pngimg.com/uploads/github/github_PNG83.png);
}

.email-logo{
    background-image: url(https://cdn2.iconfinder.com/data/icons/social-icons-color/512/gmail-512.png);
}

.dev-logo{
    background-image: url(https://cdn4.iconfinder.com/data/icons/logos-and-brands-1/512/84_Dev_logo_logos-512.png);
}

.rbgem-logo{
    background-image: url(https://miro.medium.com/max/470/1*uHOD632-DD5BLu-ptcFgvA.png);
}

.in-logo{
    background-image: url(https://pngimg.com/uploads/linkedIn/linkedIn_PNG39.png);
}

.cv-logo{
    background-image: url(https://cdn2.iconfinder.com/data/icons/project-management-25/48/118-512.png);
    background-color: coral;
}